{% extends "base.html" %}
{% block content %}
  <form class="form-horizontal">
    <div class="form-group">
      <label for="input-min-buy" class="col-sm-2 control-label">Minimum Buy</label>
      <div class="col-sm-4">
        <input id="input-min-buy" type="text" name="min-buy" class="form-control" placeholder="Minimum Buy">
      </div>
      <label for="input-min-sell" class="col-sm-2 control-label">Minimum Sell</label>
      <div class="col-sm-4">
        <input type="text" name="min-sell" class="form-control" placeholder="Minimum Sell">
      </div>
    </div>
    <div class="form-group">
      <label for="input-max-buy" class="col-sm-2 control-label">Maximum Buy</label>
      <div class="col-sm-4">
        <input id="input-max-buy" type="text" name="max-buy" class="form-control" placeholder="Maximum Buy">
      </div>
      <label for="input-max-sell" class="col-sm-2 control-label">Maximum Sell</label>
      <div class="col-sm-4">
        <input type="text" name="max-sell" class="form-control" placeholder="Maximum Sell">
      </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <div class="panel panel-default">
    <div class="panel-heading"> Search Results</div>
    <table class="table table-hover">
      <tr><th>Item ID</th><th>Item Name</th><th>Buy Price</th><th>Sell Price</th><th>Profit Margin</th></tr>
      {% for item_id, item_info in profit_prices.items() %}
      <tr><td>{{ item_id }}</td><td>{{ item_info['name'] }}</td><td>{{item_info['buy'] }}</td><td>{{ item_info['sell'] }}</td><td>{{ item_info['profit'] }}</td></tr>
      {% endfor %}
    </table>
  </div>
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
    Update Data
  </button>
  <p>This data was last updated {{ last_updated }} </p>
{% endblock %}

